<html xmlns:atom="http://www.w3.org/2005/Atom">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<title>LUG Events</title>
<meta http-equiv="refresh" content="30">
</head>
<header><strong>Sourced from the LUG Calendar.</strong></header><body>
<h3>

Linux Boot Camp - Day 2


</h3>
<p><strong>Start: </strong><code>2023-09-12</code><strong> End: </strong><code>2023-09-13</code></p>
<p>

Linux Boot Camp - Day 2


</p>
<h3>

Linux Boot Camp - Day 3


</h3>
<p><strong>Start: </strong><code>2023-09-13</code><strong> End: </strong><code>2023-09-14</code></p>
<p>

Linux Boot Camp - Day 3


</p>
<h3>

Linux Boot Camp - Day 4


</h3>
<p><strong>Start: </strong><code>2023-09-14</code><strong> End: </strong><code>2023-09-15</code></p>
<p>

Linux Boot Camp - Day 4


</p>
<h3>

Linux Boot Camp - Day 5


</h3>
<p><strong>Start: </strong><code>2023-09-15</code><strong> End: </strong><code>2023-09-16</code></p>
<p>

Linux Boot Camp - Day 5


</p>
<h3>

Linux Boot Camp - Day 1


</h3>
<p><strong>Start: </strong><code>2023-09-11</code><strong> End: </strong><code>2023-09-12</code></p>
<p>

Linux Boot Camp - Day 1


</p>
</body>
</html>
