<?xml version='1.0' encoding='UTF-8' ?>
<?xml-stylesheet type="text/xsl" href="/static/style.xsl" ?>
<vcalendar>
<version>
<![CDATA[
2.0

]]>
</version>
<prodid>
<![CDATA[
CAMPUSGROUPS

]]>
</prodid>
<x-wr-calname>
<![CDATA[
Linux User Group

]]>
</x-wr-calname>
<x-published-ttl>
<![CDATA[
PT1H

]]>
</x-published-ttl>
<vevent>
<dtstamp>
<![CDATA[
20231225T130650

]]>
</dtstamp>
<last-modified>
<![CDATA[
20231018T185807

]]>
</last-modified>
<created>
<![CDATA[
20231009T120000

]]>
</created>
<sequence>
<![CDATA[
2

]]>
</sequence>
<organizer cn="'linux user group'" >
<![CDATA[
https
//uic.campusgroups.com/linuxuser/

]]>
</organizer>
<contact>
<![CDATA[
https
//uic.campusgroups.com/linuxuser/rsvp_boot?id=2240938#event_host

]]>
</contact>
<categories x-cg-category="club_acronym" >
<![CDATA[
LINUXUSER

]]>
</categories>
<categories x-cg-category="event_type" >
<![CDATA[
Workshop

]]>
</categories>
<categories x-cg-category="event_tags" >
<![CDATA[
ComputerScience,Engineering,LUG

]]>
</categories>
<dtstart>
<![CDATA[
20231027T230000Z

]]>
</dtstart>
<dtend>
<![CDATA[
20231028T000000Z

]]>
</dtend>
<uid>
<![CDATA[
ab9a5c2b142383672e82dcdb6c5b480e1092023_11
06
02_AM@campusgroups.com

]]>
</uid>
<summary encoding="quoted-printable" >
<![CDATA[
Pull Request Lab

]]>
</summary>
<location>
<![CDATA[
 Sign in to download the location

]]>
</location>
<url>
<![CDATA[
https
//uic.campusgroups.com/rsvp?id=2240938

]]>
</url>
<description>
<![CDATA[
Ever wanted to contribute to a project but don't know where to start?. . Ever wondered why your submissions keep getting rejected?. . Don't worry.  This lab will fix that.  Go from 0 - 100 Pull Request specialist in an hour.\n---\nEvent Details
 https
//uic.campusgroups.com/rsvp?id=2240938

]]>
</description>
</vevent>
</vcalendar>
